
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="row align-content-center">
            <p>Your Password has been reset , Please Login Again!</p>
            <div>
                <a asp-action="SignIn" class="btn btn-dark">Login</a>
            </div>
        </div>
    </div>
</div>

